<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2803.94455180444!2d-75.75712548526455!3d45.3499315490833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0718cc4a6ad7%3A0xc6cc467725843e2b!2sAlgonquin%20College%20Ottawa%20Campus!5e0!3m2!1sen!2sca!4v1645452300928!5m2!1sen!2sca" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
{% schema %}
  {
    "name": "map-footer",
    "tag":"section",
    "class": "map-section index-section",
    "settings":[{
                "type": "html",
                "id": "map_embed",
                "label": "Map embed"
               }],
"presets": [{
   "name":"map-footer",
   "category":"Custom"
}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
